* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(../assets/img/foto-background.jpg);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 154.5px;
  min-height: 100vh;
  position: relative; }

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: whitesmoke; }
  header h1 {
    font-weight: bolder;
    font-size: 5rem;
    text-align: center; }
  header nav {
    background-color: #d9d9d92f;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem; }
  header li {
    list-style-type: none;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem; }

.listaAnchor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .listaAnchor a {
    color: whitesmoke; }
    .listaAnchor a:hover {
      background-color: #ea7d007e;
      color: #0054a25b;
      border-radius: 0.2rem; }

.divLogin a {
  display: flex;
  justify-content: space-evenly;
  background-color: #0054a25b;
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 0.2rem;
  margin: 0.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  text-decoration: none; }

.mainIndex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  font-size: 1.2rem;
  grid-template-areas: "item1 item2" "item3 item3";
  height: 100%; }

.mainSection {
  grid-area: item1;
  background-color: #d9d9d92f;
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem; }
  .mainSection h2 {
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
    text-decoration: underline;
    font-weight: bold;
    color: whitesmoke; }

.mainArticle {
  grid-area: item2;
  background-color: #0054a25b;
  border-radius: 1rem;
  width: fit-content;
  margin: 1rem;
  padding: 1rem;
  color: whitesmoke; }
  .mainArticle section {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.8rem; }
    .mainArticle section p {
      padding: 0.2rem;
      margin: 0.2rem; }
  .mainArticle h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem; }

.sectionClases {
  grid-area: item3;
  background-color: #d9d9d92f;
  margin: 3rem;
  padding: 2rem;
  width: fit-content;
  border-radius: 1rem; }
  .sectionClases h2 {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    text-align: center;
    margin: 1rem;
    padding: 1rem; }
  .sectionClases a {
    color: whitesmoke;
    text-decoration: none;
    background-color: #ea7d007e;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem; }

footer {
  display: flex;
  gap: 5rem;
  background-color: #ea7d007e;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  margin-top: 1rem; }
  footer iframe {
    width: 80%;
    height: 80%; }
  footer p {
    display: inline;
    margin-left: 0.5rem; }
  footer a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 0.5rem; }

.redSocial {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center; }

.textoRedSocial {
  display: flex;
  flex-direction: column;
  gap: 0.2rem; }

iframe {
  min-width: auto !important; }

.bodyQuienesSomos {
  display: grid; }

.mainQuienesSomos {
  display: grid;
  justify-self: center;
  text-align: center;
  background-color: #d9d9d92f;
  border-radius: 1rem;
  margin: 3rem;
  padding: 1rem;
  width: fit-content;
  color: whitesmoke;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  grid-template-areas: "item1 item1";
  justify-items: center; }
  .mainQuienesSomos div:first-child {
    grid-area: item1; }
  .mainQuienesSomos h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    font-size: bold; }
  .mainQuienesSomos p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem; }

.profe {
  color: black;
  background-color: #ea7d0085;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: fit-content; }
  .profe p {
    text-align: center;
    background-color: #d9d9d92f; }
  .profe img {
    border-radius: 50%; }

.turnosBody {
  display: grid;
  gap: 2rem;
  position: relative; }

.turnosMain {
  display: grid;
  justify-self: center;
  background-color: #d9d9d92f;
  width: 90%;
  border-radius: 0.5rem;
  grid-template-columns: 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "bloque1 bloque1" "bloque2 bloque3";
  margin: 3rem; }

.menuTurnos {
  grid-area: bloque1;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 1rem;
  padding: 1rem; }
  .menuTurnos a {
    text-decoration: none;
    font-size: 2rem;
    color: whitesmoke;
    text-align: center; }

.turnosInside {
  display: flex;
  grid-area: bloque2;
  flex-direction: column;
  justify-content: space-around;
  background-color: #0000009f;
  width: auto; }
  .turnosInside p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: whitesmoke;
    margin: 1rem;
    padding: 1rem;
    height: fit-content;
    text-align: center; }

.anchorReserva {
  grid-area: bloque3; }
  .anchorReserva li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none; }
    .anchorReserva li a {
      height: fit-content;
      width: 100%;
      text-align: center;
      text-decoration: none;
      margin: auto;
      margin: 1rem;
      padding: 1rem;
      color: white;
      background-color: #0054a25b;
      font-size: 2rem; }

.mainInfoImp {
  display: grid;
  padding: 5rem 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center; }
  .mainInfoImp section h2 {
    text-decoration: underline;
    color: whitesmoke;
    font-size: 3rem; }

.videosIns {
  position: relative; }
  .videosIns div {
    position: absolute;
    top: calc(100% - 50% - 1.5rem);
    left: 4rem; }
  .videosIns img {
    filter: brightness(0.5);
    width: 100%; }
  .videosIns a {
    height: 100%;
    width: 100%; }

.mainContacto {
  display: flex;
  flex-direction: column;
  background-color: #0e90a1a1;
  border-radius: 1rem;
  font-size: 2rem;
  height: 100%; }

@media (max-width: 1024px) {
  .mainInfoImp {
    width: auto; }
  .mainInfoImp section h2 {
    font-size: 2rem; } }

@media (max-width: 768px) {
  header {
    width: 100%; }
    header img {
      width: min-content;
      height: fit-content; }
    header h1 {
      font-weight: bolder;
      font-size: 3rem;
      text-align: center; }
  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    width: fit-content; }
  ul {
    justify-content: center;
    align-items: center; }
  li {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem; }
  .divLogin {
    display: flex;
    flex-direction: column; }
    .divLogin a {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 1.0rem;
      padding: 0.2rem;
      margin: 0.5rem;
      width: fit-content;
      border-radius: 0.5rem;
      text-decoration: none; }
  .mainIndex {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
  .mainSection {
    width: fit-content;
    height: fit-content; }
    .mainSection blockquote {
      width: 50%;
      height: 50%; }
  .mainArticle h2 {
    font-size: 1.2rem; }
  .mainArticle p {
    font-size: 1rem; }
  footer {
    font-size: 0.8rem; }
  .mainQuienesSomos {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; } }

.infoQuienesSomos h2 {
  font-size: 1.8rem; }

.infoQuienesSomos p {
  font-size: 1.2rem; }

.turnosInside p {
  font-size: 1.2rem; }

.anchorReserva a {
  width: auto;
  font-size: 1.2rem;
  background-size: fit-content; }

@media (max-width: 560px) {
  header {
    width: fit-content; }
    header img {
      display: none; }
  .turnosBody {
    width: fit-content;
    height: 100%; }
  .turnosMain {
    width: fit-content;
    margin: 2rem; }
  .turnosInside {
    width: 100%; }
    .turnosInside p {
      font-size: 0.9rem;
      width: 80%; }
  .menuTurnos ul {
    width: 80%; }
  .anchorReserva a {
    width: fit-content;
    font-size: 0.8rem;
    background-size: fit-content; }
  .sectionClases ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  footer iframe {
    display: none; }
  .mainContacto {
    font-size: 1.5rem; } }

@media (max-width: 468px) {
  header h1 {
    font-size: 2rem; }
  header a {
    font-size: 1.5rem; }
  .turnosBody {
    width: fit-content; }
  .turnosMain {
    width: fit-content;
    margin: 2rem; }
  .menuTurnos li a {
    font-size: 1rem; }
  .anchorReserva li a {
    font-size: 1rem; }
  .infoQuienesSomos {
    width: auto; }
  .profe {
    width: 80%; }
    .profe img {
      width: 80%; }
  .turnosMain {
    width: fit-content; }
  .mainInfoImp section h2 {
    font-size: 1.2rem; }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; } }

@media (max-width: 385px) {
  header {
    width: 100%;
    justify-self: center;
    align-items: space-around; }
    header .listaAnchor a {
      font-size: 1rem; }
  .divLogin {
    align-self: center;
    justify-self: center;
    align-items: space-evenly; }
  .listaAnchor {
    flex-direction: row;
    flex-wrap: wrap; }
  .menuTurnos a {
    font-size: 1rem;
    margin: 0; }
  .mainContacto {
    font-size: 1rem; } }

@media (max-width: 350px) {
  .divLogin a {
    font-size: 0.8rem; }
  footer {
    position: absolute; } }

@media (max-width: 320px) {
  header a {
    font-size: 1.2rem; }
  .infoQuienesSomos h2 {
    font-size: 1.5rem; }
  .infoQuienesSomos p {
    font-size: 1.0rem; }
  .profe {
    width: 80%; }
    .profe img {
      width: 80%; } }
