@media (max-width: 560px) {

    header {
        width: 100%;
        justify-content: space-around;
        flex-direction: row-reverse;

        h1 {
            font-size: 1.2rem;
        }

        img {
            display: none;
        }

        nav .menu {
            order: 3;
            width: 100%;
            height: 0;
            overflow: hidden;
        }

        .menu ul {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 0;
            text-align: center;
        }

        nav label {
            display: inline-flex;
            color: white;
            cursor: pointer;
        }

        nav #toggle:checked~.menu {
            height: 100%;
        }

        .divLogin {
            order: 1;
        }
    }

    .mainQuienesSomos{
        div{
            p{
                font-size: 1rem;
            }
        }
    }

    .turnosBody {
        width: fit-content;
        height: 100%;
    }

    .turnosMain {
        width: fit-content;
        margin: 2rem;
    }

    .turnosInside {
        width: 100%;

        p {
            font-size: 0.9rem;
            width: 80%;
        }
    }

    .menuTurnos{
        ul{
            width: 80%;
        }

        li{
            a{
                font-size: 1.2rem;
            }
        }
        
    }

    .anchorReserva{
        width: fit-content;
        background-size: fit-content;
        li{
            a{
                font-size: 0.8rem;
            }
        }
        
    }

    .sectionClases ul {
        @include flex-2 (wrap, none);
        flex-direction: column;    }

    .mainContacto {
        font-size: 1.5rem;
    }

    footer iframe {
        display: none;
    }

    footer div{
        font-size: 0.6rem;
    }
}