@media (max-width: 768px) {

    header {
        width: 100%;

        img {
            width: min-content;
            height: fit-content;
        }

        h1 {
            font-weight: bolder;
            font-size: 3rem;
            text-align: center;
        }
    }

    nav {
        @include flex-2(wrap, space-around);
        flex-direction: column;
        align-content: center;
        justify-items: center;
        align-items: center;
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem;
        width: fit-content;
    }

    ul {
        justify-content: center;
        align-items: center;
    }

    li {
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .divLogin {
        display: flex;
        flex-direction: column;

        a {
            @include flex-2(nowrap, space-evenly);
            flex-direction: row;
            font-size: 1.0rem;
            padding: 0.2rem;
            margin: 0.5rem;
            width: fit-content;
            border-radius: 0.5rem;
            text-decoration: none;
        }
    }

    .mainIndex {
        @include flex(none, center, none);
        flex-direction: column;
        justify-items: center;
    }

    .mainSection {
        width: fit-content;
        height: fit-content;

        blockquote {
            width: 50%;
            height: 50%;
        }
    }

    .mainArticle {
        h2 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1rem;
        }
    }

    footer {
        font-size: 0.8rem;
    }

    .mainQuienesSomos {
        @include flex(none, center, none);
        flex-direction: column;
        margin-bottom: 3rem;

        p{
            font-size: 1.3rem;
        }
        
    }

    .infoQuienesSomos {
        h2 {
            font-size: 1.8rem;
        }
    
        p {
            font-size: 1.2rem;
        }
    }
    
    .turnosInside {
        p {
            font-size: 1.2rem;
        }
    }
    
    .anchorReserva {
        a {
            width: auto;
            font-size: 1.2rem;
            background-size: fit-content;
        }
    }
}

