@media (max-width: 320px){

    header a{
        font-size: 1.2rem;
    }

    .infoQuienesSomos{
        
        h2{
            font-size: 1.5rem;
        }

        p{
            font-size: 1.0rem;
        }
        
    }

    .profe{
        width:80%;

        img{
            width:80%;
        }
    }

}
