@mixin flex($justify,$align,$gap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin grid($grid-column, $grid-rows, $justify){
    display: grid;
    grid-template-columns: $grid-column;
    grid-template-rows: $grid-rows;
    justify-items: $justify
}

@mixin flex-2 ($wrap, $justify) {

    display:flex;
    flex-wrap: $wrap;
    justify-content: $justify;
}