$background-principal: #d9d9d92f;
$background-secundario: #ea7d007e;
$background-terciario: #0054a25b;
$background-profe: #ea7d0085;
$background-turnos: #0000009f;
$background-contacto: #0e90a1a1;
$color-texto: whitesmoke;
$color-texto-sec: black;
