
footer{

    @include flex(center, center, 5rem);
    justify-items: center;
    background-color: $background-secundario;
    font-weight:bold;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding: 1rem;
    margin-top:1rem;

    iframe{
        width: 80%;
        height: 80%;
    }

    p{
        display: inline;
        margin-left: 0.5rem;
    }

    a{
        text-decoration: none;
        color: $color-texto-sec;
        display: inline-block;
        margin-left: 0.5rem;
    }
}


.redSocial{
    @include flex(center,center,0.5rem);
    }

.textoRedSocial{
    display:flex;
    flex-direction: column;
    gap: 0.2rem;
}

iframe{
    min-width:auto !important;
}
