header {

    @include flex(space-around, none, none);
    width: 100%;
    color: $color-texto;

    h1 {

        font-weight: bolder;
        font-size: 5rem;
        text-align: center;
    }

    nav {

        background-color: $background-principal;
        width: auto;
        height: fit-content;
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem;

        
    }

    nav #toggle, nav label{
        display: none;
    }

    li{
        list-style-type: none;
        text-decoration: none;
        font-size: 2rem;
        padding: 1rem;
        margin: 1rem;
    }



}


.listaAnchor {

    @include flex-2(wrap, center);

    a{
        color: $color-texto;
        &:hover{
            background-color: $background-secundario;
            color: #0054a25b;
            border-radius: 0.2rem;
        }
    }

    
}




.divLogin a{

    @include flex(space-evenly, normal, 0);
    background-color: $background-terciario;
    color: $color-texto;
    font-size: 1.5rem;
    padding: 0.2rem;
    margin: 0.5rem;
    width: fit-content;
    border-radius: 0.5rem;
    text-decoration: none;
}