.mainIndex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    font-size: 1.2rem;
    grid-template-areas: 
    "item1 item2"
    "item3 item3";
    height:100%;
}


.mainSection{
    grid-area: item1;
    background-color: $background-principal;
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;

    h2{
        font-family: 'Poppins', sans-serif;
        margin: 1rem;
        text-decoration: underline;
        font-weight: bold;
        color: $color-texto;
    }
}


.mainArticle {
    grid-area:item2;
    background-color: $background-terciario;
    border-radius: 1rem;
    width: fit-content;
    margin: 1rem;
    padding: 1rem;
    color: $color-texto;

    section{   
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 1.8rem;

        p{
            padding: 0.2rem;
            margin: 0.2rem;
        };
    }

    h2{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 1rem;
    }
}



.sectionClases{
    grid-area: item3;
    background-color: $background-principal;
    margin: 3rem;
    padding: 2rem;
    width: fit-content;
    border-radius: 1rem;

    h2{
        color: $color-texto;
        font-family: 'Poppins', sans-serif;
        text-decoration: underline;
        text-align:center;
        margin: 1rem;
        padding: 1rem;
    }

    a{
        color: $color-texto;
        text-decoration: none;
        background-color: $background-secundario;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
    }
}
