
.mainInfoImp{

    @include grid (1fr, 1fr 1fr 1fr, none);
    padding: 5rem 0;
    place-items: center;
    
    section{

        h2{
            text-decoration: underline;
            color: $color-texto;
            font-size: 3rem;
        }
    }
}


.videosIns{
    position: relative;

    div{
        position: absolute;
        top: calc(100% - 50% - 1.5rem);
        left: 4rem;
    }

    img{
        filter: brightness(0.5);
        width:100%;
    }

    a{ 
        height: 100%;
        width: 100%;
    }
}

