.turnosBody{
    display:grid;
    gap: 2rem;
    position:relative;
}

.turnosMain{

    @include grid(4fr,1fr,none);
    justify-self: center;
    background-color: $background-principal;
    width: 90%;
    border-radius: 0.5rem;
    grid-template-areas:
    "bloque1 bloque1"
    "bloque2 bloque3";
    margin: 3rem;
}

.menuTurnos{
    grid-area: bloque1;
    @include flex(space-evenly,none,none);
    list-style: none;
    margin: 1rem;
    padding: 1rem;

    li{
        a{
            text-decoration: none;
            font-size: 1.8rem;
            color: $color-texto;
            text-align: center;
        }
    }
}


.turnosInside{
    @include flex(space-around, none, none);
    grid-area:bloque2;
    flex-direction: column;
    background-color: $background-turnos;
    width: auto;

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        color: $color-texto;
        margin: 1rem;
        padding: 1rem;
        height: fit-content;
        text-align: center;
    }

}

.anchorReserva{
    grid-area:bloque3;
    
    li{

        @include flex(space-around, none, none);
        flex-direction: row;
        list-style: none;
        
        a{  
            
            height: fit-content;
            width: 100%;
            text-align: center;
            text-decoration: none;
            margin: auto;
            margin: 1rem;
            padding: 1rem;
            color: $color-texto;
            background-color: $background-terciario;
            font-size: 2rem;
        }
    }
}

