.bodyQuienesSomos{
    display:grid;
}

.mainQuienesSomos { 

    @include grid(1fr 1fr, 1fr, center);
    justify-self: center;
    text-align: center;
    background-color: $background-principal;
    border-radius: 1rem;
    margin: 3rem;
    padding: 1rem;
    width: fit-content;
    color: $color-texto;
    gap: 10px;
    grid-template-areas: 
    "item1 item1";


    div:first-child{
        grid-area:item1;
    }

    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
        font-size: bold;
    }

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
    }
}


.profe {
    color: $color-texto-sec;
    background-color: $background-profe;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    width: fit-content;
    
    p{
        text-align: center;
        background-color: $background-principal;
    }

    img{
        border-radius: 50%;
    }
}

