.turnosBody{
    display:grid;
    gap: 2rem;
    position:relative;
}

.turnosMain{
    display:grid;
    justify-self: center;
    background-color: $background-principal;
    width: 90%;
    border-radius: 0.5rem;
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "bloque1 bloque1"
    "bloque2 bloque3";
    margin: 3rem;
}

.menuTurnos{
    grid-area: bloque1;
    display:flex;
    justify-content:space-evenly;
    list-style: none;
    margin: 1rem;
    padding: 1rem;

    a{
        text-decoration: none;
        font-size: 2rem;
        color: $color-texto;
        text-align: center;
    }
}


.turnosInside{
    display: flex;
    grid-area:bloque2;
    flex-direction: column;
    justify-content: space-around;
    background-color: $background-turnos;
    width: auto;

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        color: $color-texto;
        margin: 1rem;
        padding: 1rem;
        height: fit-content;
        text-align: center;
    }

}

.anchorReserva{
    grid-area:bloque3;
    
    li{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        
        a{  
            
            height: fit-content;
            width: 100%;
            text-align: center;
            text-decoration: none;
            margin: auto;
            margin: 1rem;
            padding: 1rem;
            color:white;
            background-color: #0054a25b;
            font-size: 2rem;
        }
    }
}

